img {
    display: block;
}
#wrapper {
    max-width: 1200px;
    min-width: 600px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffff;
}
body {
    margin: 0;
    padding: 0;
	width: 100%;
    color: #3d1212;
    background-color: silver;
    font-family: 'Oswald', 'Droid Sans', 'sans-serrif';
}
nav.horizontalNav ul li:hover {
    color: black;
    border-bottom-color: #193441;
    background-color: grey;
}
.active {
    color: black;
    background-color: grey;
}
.horizontalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #193441;
}
.horizontalNav li {
    float: left;
}
.horizontalNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21px;
    text-decoration: none;
}
.horizontalNav {
    width: 80%;
}
#topBar {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: 600px;
    height: 100%;
    font-size: 40px;
    background-color: #ffff;
    text-align: center;
}
#logo p {
    margin: auto;
}
#topBar {
    height: 60px;
    width: 100%;
    display: flex;
}
#content {
    display: flex;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0px 0px 3px;
}
#introBox {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%;
    background-color: cadetblue;
}
h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0
}
#introBox img.profile {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#introBox img.profile:hover {
    
}


#socialMedia {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
    text-align: justify;
}



#socialMedia > h4 {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: inline-block;
}

#socialMedia a img:hover {
    transform: scale(1.2);
}

#columns {
    display: flex;
    padding: 10px;
}
#about {
    padding: 10px;
    width: 65%;
}
#facts {
    padding: 10px;
    width: 20%;
}






