img {
    display: block;
}
.wrapper {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    box-shadow: 0px 0px 3px;
}
body {
    margin: 0;
    padding: 0;
	width: 100%;
    color: #3d1212;
    background-color: #FFFDF2;
    font-family: 'Nunito Sans', sans-serif;
}
nav.horizontalNav ul li:hover {
    color: black;
    border-bottom-color: #193441;
    background-color: grey;
}
.active {
    display: flex;
    color: black;
    background-color: grey;
}
.horizontalNav .active li a{
    color: black;
    background-color: grey;
    display: block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}
.horizontalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ADB5;
}
.horizontalNav li {
    float: left;
}
.horizontalNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px;
    text-decoration: none;
}
.horizontalNav {
    width: 100%;
}
#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 3px;
}

#logo {
    float: right;
    width: 400px;
    height: 100%;
    font-size: 40px;
    background-color: #00ADB5;
    text-align: center;
}
#logo p {
    color: #ffff;
    font-weight: bold;
    margin-top: 5px;
}
#topBar {
    height: 60px;
    width: 100%;
    display: flex;
}
#content {
    display: flex;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0px 0px 3px;
}
#introBox {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%;
    background-image: url(pictures/profile_Ireland2.jpg);
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background-color: grey;
}

#introContent {
    width: 100%;
    padding-top: 480px;
    padding-bottom: 20px;
}
h1 {
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #ffff;
}
#introBox img.profile {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#introBox img.profile:hover {
    
}


#socialMedia {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    
}

.icon {
    justify-content: center;
    align-items: center;
    width: 25%;
    display: flex;
}

.icon a img {
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
}

#socialMedia a img:hover {
    transform: scale(1.2);
}

#columns {
    display: flex;
    padding: 10px;
    background-color: #ffff;
}
#about {
    padding: 10px;
    width: 65%;
}
#about p {
    font-size: 20px;
}
#facts {
    padding: 10px;
    width: 34%;
}

table {
    
}

table.facts, td, th {
    padding: 5px;
    
}

table.facts, td{
    border-spacing: 10px;
    text-align: left;
}
table.facts th {
    color: #ffff;
    width: 25%;
    font-size: 20px;;
    background-color: #00ADB5;
}
h3 {
    font-size: 30px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #00ADB5;
}
h4 {
    margin: 0;
    padding-right: 40px;
    float: right;
    font-size: 24px;
}

#wrapper2 {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    box-shadow: 0px 0px 3px;
}

#footer {
    height: 60px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #00ADB5;
    box-shadow: 0px 0px 3px;
}
#footer p {
    color: #ffff;
}
#columns2 {
    display: flex;
    padding: 0;
    background-color: #ffff;
}

#experience {
    display: block;
    padding: 20px;
    width: 50%;
}
#job {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}
.OWF {
    width: 80%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.warner {
    width: 50%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

#experiencePhoto {
    float: right;
    width: 50%;
    padding: 0;
    background-color: grey;
}
#description {
    text-align: left;
}















